<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom to EJS</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Main Content -->
    <div class="container">
        <nav class="navbar">
            <div class="nav-logo">MATRIX_SYS</div>

            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/view">View</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/add-user">Add User</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
        <div class="card">
            <h1 class="typing">Welcome to EJS</h1>
            <p>This is a simple EJS template.</p>
        </div>
    </div>

</body>

</html>