<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <h2 class="typing">Adding New Student!</h2>
            <form method="post" action="/add-student" class="matrix-form">
                <div class="form-group">
                    <label for="name">> Enter Name:</label>
                    <input type="text" name="name" placeholder="Name" required />
                </div>
                <div class="form-group">
                    <label for="age">> Enter Age:</label>
                    <input type="number" name="age" placeholder="Age" required />
                </div>
                <div class="form-group">
                    <label for="email">> Enter Email:</label>
                    <input type="email" name="email" placeholder="Email" required />
                </div>
                <div class="button-group">
                    <button type=" submit">Add Student</button><br />
                    <button onclick="window.history.back()">↩ Go Back</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>